[submodule "make"]
	path = make
	url = https://github.com/jmdaemon/make-modules
[submodule "subprojects/log.c"]
	path = subprojects/log.c
	url = https://github.com/rxi/log.c
[submodule "subprojects/unity"]
	path = subprojects/unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "cmake"]
	path = cmake
	url = https://github.com/jmdaemon/cmake-modules
